Repository PhotonVision/photonvision, pull requests merged in 2025-07, with the labels that each got.

#1894 Migrate NNM Settings to SQLITE
  docs/source/docs/objectDetection/about-object-detection.md
  photon-client/src/components/dashboard/tabs/ObjectDetectionTab.vue
  photon-client/src/components/settings/DeviceControlCard.vue
  photon-client/src/components/settings/ObjectDetectionCard.vue
  photon-client/src/stores/settings/CameraSettingsStore.ts
  photon-client/src/stores/settings/GeneralSettingsStore.ts
  photon-client/src/types/PipelineTypes.ts
  photon-client/src/types/SettingTypes.ts
  photon-core/src/main/java/org/photonvision/common/configuration/ConfigManager.java
  photon-core/src/main/java/org/photonvision/common/configuration/ConfigProvider.java
  photon-core/src/main/java/org/photonvision/common/configuration/LegacyConfigProvider.java
  photon-core/src/main/java/org/photonvision/common/configuration/NeuralNetworkModelManager.java
  photon-core/src/main/java/org/photonvision/common/configuration/NeuralNetworkPropertyManager.java
  photon-core/src/main/java/org/photonvision/common/configuration/PhotonConfiguration.java
  photon-core/src/main/java/org/photonvision/common/configuration/SqlConfigProvider.java
  photon-core/src/main/java/org/photonvision/common/dataflow/websocket/UIGeneralSettings.java
  photon-core/src/main/java/org/photonvision/common/dataflow/websocket/UIPhotonConfiguration.java
  photon-core/src/main/java/org/photonvision/common/util/file/JacksonUtils.java
  photon-core/src/main/java/org/photonvision/jni/RknnObjectDetector.java
  photon-core/src/main/java/org/photonvision/vision/objects/Model.java
  photon-core/src/main/java/org/photonvision/vision/objects/NullModel.java
  photon-core/src/main/java/org/photonvision/vision/objects/RknnModel.java
  photon-core/src/main/java/org/photonvision/vision/pipeline/ObjectDetectionPipeline.java
  photon-core/src/main/java/org/photonvision/vision/pipeline/ObjectDetectionPipelineSettings.java
  photon-core/src/main/java/org/photonvision/vision/processes/VisionModuleChangeSubscriber.java
  photon-core/src/test/java/org/photonvision/vision/pipeline/ObjectDetectionTest.java
  photon-server/src/main/java/org/photonvision/Main.java
  photon-server/src/main/java/org/photonvision/server/RequestHandler.java
  photon-server/src/main/java/org/photonvision/server/Server.java
  photon-server/src/main/resources/models/algaeV1-640-640-yolov8n-labels.txt
Labels: enhancement

#2001 Dynamically import dependencies that are not critical to viewing the UI
  photon-client/src/components/app/photon-3d-visualizer.vue
  photon-client/src/components/cameras/CameraCalibrationCard.vue
  photon-client/src/components/dashboard/tabs/Map3DTab.vue
  photon-client/src/components/settings/ApriltagControlCard.vue
  photon-client/src/plugins/vuetify.ts
  photon-client/src/views/GeneralSettingsView.vue
Labels: frontend

#2013 Add an overload of resetHeadingData() which takes in a Rotation3d
  photon-lib/src/main/java/org/photonvision/PhotonPoseEstimator.java
Labels: photonlib
