Repository PhotonVision/photonvision, pull requests merged in 2025-04, with the labels that each got.

#1847 chore[docs]: Recommend ethernet tether over port forwarding for VH-109
  docs/source/docs/quick-start/networking.md
Labels: documentation

#1881 Rename Workflows
  .github/workflows/photon-api-docs.yml
  .github/workflows/photonvision-rtd.yml
  .github/workflows/website.yml
Labels: enhancement

#1890 [docs] Document driver mode
  docs/source/docs/driver-mode/images/crosshair-switch.png
  docs/source/docs/driver-mode/images/driver-mode-camera-settings.png
  docs/source/docs/driver-mode/images/driver-mode-dashboard.png
  docs/source/docs/driver-mode/index.md
  docs/source/docs/pipelines/about-pipelines.md
  docs/source/index.md
Labels: documentation

#1892 Bump Wpiformat
  .github/workflows/lint-format.yml
  photon-lib/py/photonlibpy/py.typed
  website/src/main.ts
Labels: dependencies

#1706 Make Vision pose estimation examples use all vision measurements
  photonlib-cpp-examples/poseest/src/main/cpp/Robot.cpp
  photonlib-cpp-examples/poseest/src/main/include/Robot.h
  photonlib-cpp-examples/poseest/src/main/include/Vision.h
  photonlib-java-examples/poseest/src/main/java/frc/robot/Robot.java
  photonlib-java-examples/poseest/src/main/java/frc/robot/Vision.java
Labels: documentation
