Repository PhotonVision/photonvision, pull requests merged in 2025-08, with the labels that each got.

#2030 Disable linkcheck for www.gnu.org
  docs/source/conf.py
Labels: documentation

#2016 Dark mode and minor interface tweaks
  .gitignore
  photon-client/src/App.vue
  photon-client/src/assets/images/loading-transparent.svg
  photon-client/src/assets/images/logoSmallTransparent.svg
  photon-client/src/assets/styles/variables.scss
  photon-client/src/components/app/photon-error-snackbar.vue
  photon-client/src/components/app/photon-log-view.vue
  photon-client/src/components/app/photon-sidebar.vue
  photon-client/src/components/cameras/CameraCalibrationCard.vue
  photon-client/src/components/cameras/CameraCalibrationInfoCard.vue
  photon-client/src/components/cameras/CameraControlCard.vue
  photon-client/src/components/cameras/CameraSettingsCard.vue
  photon-client/src/components/cameras/CamerasView.vue
  photon-client/src/components/common/pv-input.vue
  photon-client/src/components/common/pv-number-input.vue
  photon-client/src/components/common/pv-radio.vue
  photon-client/src/components/common/pv-range-slider.vue
  photon-client/src/components/common/pv-slider.vue
  photon-client/src/components/common/pv-switch.vue
  photon-client/src/components/dashboard/CameraAndPipelineSelectCard.vue
  photon-client/src/components/dashboard/CamerasCard.vue
  photon-client/src/components/dashboard/ConfigOptions.vue
  photon-client/src/components/dashboard/StreamConfigCard.vue
  photon-client/src/components/dashboard/tabs/OutputTab.vue
  photon-client/src/components/dashboard/tabs/TargetsTab.vue
  photon-client/src/components/dashboard/tabs/ThresholdTab.vue
  photon-client/src/components/settings/ApriltagControlCard.vue
  photon-client/src/components/settings/DeviceControlCard.vue
  photon-client/src/components/settings/LEDControlCard.vue
  photon-client/src/components/settings/MetricsCard.vue
  photon-client/src/components/settings/NetworkingCard.vue
  photon-client/src/components/settings/ObjectDetectionCard.vue
  photon-client/src/plugins/vuetify.ts
  photon-client/src/views/CameraMatchingView.vue
  photon-client/src/views/DashboardView.vue
  photon-client/src/views/DocsView.vue
Labels: frontend

#2024 RKNN conversion tool
  scripts/rknn-convert-tool/MAINTAINERS.md
  scripts/rknn-convert-tool/create_onnx.py
  scripts/rknn-convert-tool/create_rknn.py
  scripts/rknn-convert-tool/rknn_conversion.ipynb
Labels: enhancement

#1840 Add an error when the connection for the end calibration request fails
  photon-client/src/components/cameras/CameraCalibrationCard.vue
  photon-core/src/main/java/org/photonvision/vision/pipeline/Calibrate3dPipeline.java
  photon-core/src/main/java/org/photonvision/vision/processes/VisionModule.java
Labels: frontend, backend

#2046 Make dashboard theme transition smooth and fix link color
  photon-client/src/components/dashboard/ConfigOptions.vue
  photon-client/src/views/DashboardView.vue
Labels: frontend, styling

#1929 Verify that nmcli installed
  photon-core/src/main/java/org/photonvision/common/networking/NetworkManager.java
  photon-core/src/main/java/org/photonvision/common/networking/NetworkUtils.java
Labels: backend

#2021 Add PNP_DISTANCE_TRIG_SOLVE strategy to C++
  photon-lib/src/main/native/cpp/photon/PhotonPoseEstimator.cpp
  photon-lib/src/main/native/include/photon/PhotonPoseEstimator.h
  photon-lib/src/test/native/cpp/PhotonPoseEstimatorTest.cpp
Labels: photonlib

#2051 Remove log spam from periodic network and IP address queries
  photon-core/src/main/java/org/photonvision/common/hardware/metrics/MetricsManager.java
  photon-core/src/main/java/org/photonvision/common/networking/NetworkUtils.java
  photon-core/src/main/java/org/photonvision/common/util/ShellExec.java
Labels: backend

#2054 Only update UI when there's been a change in conflict detection
  photon-core/src/main/java/org/photonvision/common/dataflow/networktables/NetworkTablesManager.java
Labels: backend

#2063 Exclude license from being loaded as a model
  photon-core/src/main/java/org/photonvision/common/configuration/NeuralNetworkModelManager.java
  photon-server/src/main/java/org/photonvision/server/RequestHandler.java
Labels: backend

#2056 Preload OD models before import to check quantization
  build.gradle
  photon-core/src/main/java/org/photonvision/vision/objects/RknnObjectDetector.java
  photon-core/src/main/java/org/photonvision/vision/objects/RubikObjectDetector.java
  photon-server/src/main/java/org/photonvision/server/RequestHandler.java
Labels: backend

#2023 Fix 'Resource leak: <variable> is never closed' warnings
  photon-core/src/main/java/org/photonvision/common/configuration/LegacyConfigProvider.java
  photon-core/src/main/java/org/photonvision/common/configuration/NeuralNetworkModelManager.java
  photon-core/src/test/java/org/photonvision/common/configuration/SQLConfigTest.java
  photon-lib/src/main/java/org/photonvision/simulation/VideoSimUtil.java
  photon-lib/src/main/java/org/photonvision/simulation/VisionSystemSim.java
  photon-lib/src/test/java/org/photonvision/PhotonCameraTest.java
  photon-lib/src/test/java/org/photonvision/PhotonPoseEstimatorTest.java
  photon-server/src/main/java/org/photonvision/server/RequestHandler.java
  shared/common.gradle
  shared/javacommon.gradle
Labels: bug, photonlib, backend

#2077 Use deploy-utils instead of an external ssh plugin
  README.md
  build.gradle
  docs/source/docs/contributing/building-photon.md
  photon-server/build.gradle
Labels: documentation, backend
